/*services--------------------*/
.services {
    box-sizing: border-box;
    margin-bottom: 30px;
}

.services * {
    box-sizing: border-box;
}

.services-list {
    margin-left: -15px;
    margin-right: -15px;
    list-style: none;
    padding: 0px;
}

.services-list::after {
    content: '';
    clear: both;
    display: table;
}

.services-list__item {
    padding: 14px 15px;
    float: left;
    width: 33.3333%;
}

.services-card {
    width: 100%;
}

.services-card:hover a {
    text-decoration: none;
}

.services-card:hover .services-card__img::after {
    content: '';
    transition: all .2s ease-in-out;
    opacity: 1;
}

.services-card:hover .services-card__more {
    transition: all .2s ease-in-out;
    opacity: 1;
}

.services-card__img {
    width: 100%;
    height: 290px;
    position: relative;
}

.services-card__img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 21%, rgba(0,0,0,0.58) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(21%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.58)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 21%, rgba(0,0,0,0.58) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 21%, rgba(0,0,0,0.58) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 21%, rgba(0,0,0,0.58) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 21%, rgba(0,0,0,0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );    opacity: 1;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.services-card__more {
    opacity: 0;
    display: block;
    position: absolute;
    z-index: 99;
    /*height: 100%;*/
    /*width: 100%;*/
    color: #ffffff;
    font-weight: 700;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.services-card__more::after {
    content: '';
    position: absolute;
    top: -20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    width: 42px;
    height: 12px;
    background: url(./img/services/icon-round.png) 0 0 no-repeat;

}

.services-card__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.services-card__body {
    padding: 11px 20px;
    min-height: 64px;
    background-color: #282828;
    display: table;
    width: 100%;
}

.services-card__title {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}

/*services-post-------------------------*/
.services-post {
    margin-bottom: 30px;
}

.services-post__header {
    margin-bottom: 10px;
}

.services-post__header::after {
    content: '';
    clear: both;
    display: table;
}

.services-post__title {
    float: left;
}

.services-post__all {
    float: right;
    display: inline-block;
    border: 1px solid #dbdbdb;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #313133;
    padding: 8px 24px;
    transition: all .1s ease-in-out;
}

.services-post__all:hover {
    text-decoration: none;
    border-color: #000;
    color: #000000;
    transition: all .1s ease-in-out;
}

.services-post__body {

}

.services-post__body h4 {
    font-weight: 400;
}

.custom-list {
    list-style-image: url(./img/services/icon-list-point.png);
    padding-left: 24px;
}

.custom-list__item {
    margin-bottom: 20px;
}


.custom-list__item b {
    font-weight: 700;
    text-transform: uppercase;
}

.c-box-img {
    padding: 15px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #282828;
}

.c-box-img::after {
    content: '';
    clear:both;
    display: table;
}
.c-box-img__col {
    float: left;
    width: 50%;
    height: 380px;
    padding: 15px;
}
.c-box-img__pic {
    overflow: hidden;
    height: 100%;
}

.c-box-img__pic img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.c-box-img-slider {
    height: 350px;
}

.c-box-img-slider .uk-position-relative {
    height: 350px;
}

.c-box-img-slider .uk-slideshow-items {
    height: 350px;
}

.c-box-img-slider .uk-slidenav-previous svg,
.c-box-img-slider .uk-slidenav-next svg {
    stroke: #fff;
}

.uk-light .uk-slidenav, .uk-section-primary:not(.uk-preserve-color) .uk-slidenav, .uk-section-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-primary:not(.uk-preserve-color) .uk-slidenav, .uk-tile-secondary:not(.uk-preserve-color) .uk-slidenav, .uk-card-primary.uk-card-body .uk-slidenav, .uk-card-primary > :not([class*='uk-card-media']) .uk-slidenav, .uk-card-secondary.uk-card-body .uk-slidenav, .uk-card-secondary > :not([class*='uk-card-media']) .uk-slidenav, .uk-overlay-primary .uk-slidenav, .uk-offcanvas-bar .uk-slidenav {
    color: rgba(255, 255, 255, 0.7);
}

.uk-icon [stroke*='#']:not(.uk-preserve) {
    stroke: currentcolor;
}


/*uikit dropdown-----------------*/
.uk-slidenav-previous:before,
.uk-slidenav-next:before {
    content: '';
    display: none;
}

.has-parent {
    position: relative;
}

.has-parent::after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 19px;
    width: 6px;
    height: 5px;
    background: url(./img/services/icon-dropdown.png) 0 0 no-repeat;
}

.menu-item:hover .uk-navbar-dropdown {
    display: block;
}

.uk-navbar-subtitle {
    font-size: 14px
}

.uk-navbar-dropdown {
    display: none;
    position: absolute;
    z-index: 1020;
    box-sizing: border-box;
    text-align: left;
    width: 210px;
    padding: 0 0 10px;
    /*background: #fff;*/
    color: #666;
    background-color: #232325;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15)
}

.uk-navbar-dropdown-nav {
    background-color: #fff;
    padding: 10px 0;
}

.uk-navbar-dropdown.uk-open {
    display: block
}

[class*='uk-navbar-dropdown-top'] {
    margin-top: -15px
}

[class*='uk-navbar-dropdown-bottom'] {
    margin-top: 15px
}

[class*='uk-navbar-dropdown-left'] {
    margin-left: -15px
}

[class*='uk-navbar-dropdown-right'] {
    margin-left: 15px
}

.uk-navbar-dropdown-grid {
    margin-left: -50px
}

.uk-navbar-dropdown-grid > * {
    padding-left: 50px
}

.uk-navbar-dropdown-grid > .uk-grid-margin {
    margin-top: 50px
}

.uk-navbar-dropdown-stack .uk-navbar-dropdown-grid > * {
    width: 100% !important
}

.uk-navbar-dropdown-width-2:not(.uk-navbar-dropdown-stack) {
    width: 400px
}

.uk-navbar-dropdown-width-3:not(.uk-navbar-dropdown-stack) {
    width: 600px
}

.uk-navbar-dropdown-width-4:not(.uk-navbar-dropdown-stack) {
    width: 800px
}

.uk-navbar-dropdown-width-5:not(.uk-navbar-dropdown-stack) {
    width: 1000px
}

.uk-navbar-dropdown-dropbar {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none
}

.uk-navbar-dropdown-nav {
    font-size: 14px
}

.uk-navbar-dropdown-nav > li > a {
    color: #999;
    padding: 6px 18px;
    font-size: 14px;
    color: #313133;
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}

.uk-navbar-dropdown-nav > li > a:hover {
    background-color: #282828;
    color: #eaeaea;
    font-weight: 400;
}

.uk-navbar-dropdown-nav > li > a:hover, .uk-navbar-dropdown-nav > li > a:focus {
    color: #666
}

.uk-navbar-dropdown-nav > li.uk-active > a {
    color: #222
}

.uk-navbar-dropdown-nav .uk-nav-header {
    color: #222
}

.uk-navbar-dropdown-nav .uk-nav-divider {
    border-top: 1px solid #e5e5e5
}

.uk-navbar-dropdown-nav .uk-nav-sub a {
    color: #999
}

.uk-navbar-dropdown-nav .uk-nav-sub a:hover, .uk-navbar-dropdown-nav .uk-nav-sub a:focus {
    color: #666
}

.menu-item-sublist {
    padding-top: 10px !important;
    padding-left: 32px !important;
}

.menu-item-sublist__item {
    color: #ccc;
    line-height: 1;
    color: #ccc;
    margin-bottom: 6px;
}

.menu-item-sublist__item a {
    color: #ccc;
    padding: 4px 0;
}

/*media-----------------------*/

@media (max-width: 990px) {
    .services-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .services-list__item {
        width: 50%;
        padding: 10px;
    }

    .services-post__header {
        position: relative;
    }
    .services-post__all {
        position: absolute;
        top: -62px;
        right: 0;
    }
}

@media (max-width: 767px) {
    main .content .services-card__body {
        padding: 8px 15px;
    }
    .services-list {
        margin: 0;
    }

    .c-box-img__col {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    main .content .c-box-img__col {
        padding: 10px;
        margin: 0;
    }

    main .content .c-box-img {
        padding: 10px;
        margin: 0;
    }

    .c-box-img .uk-slideshow, .c-box-img .uk-slideshow > li {
        height: 350px !important;
    }

}
@media (max-width: 580px) {
    .services-list__item {
        width: 100%;
        padding: 0;
        margin-bottom: 18px;
    }
}